.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2rem 0;
}

.timeline-container::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #e2e8f0;
  z-index: 1;
}

.timeline-event {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 2rem;
  width: 50%;
  align-self: flex-start;
  padding-right: 2rem;
}

.timeline-event:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-right: 0;
}

.timeline-event-content {
  position: relative;
  width: 100%;
}

.timeline-dot {
  content: '';
  position: absolute;
  top: 10px;
  right: -8px;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 4px solid #e2e8f0;
  border-radius: 50%;
  z-index: 2;
}

.timeline-event:nth-child(odd) .timeline-dot {
  left: -8px;
  right: auto;
}
